<div class="jumbotron mt-5">
  <h1 class="display-4">Tuiter</h1>
  <p class="lead">Olá, bem vindo ao tuiter, uma rede social da qual totalmente não é plagiada da mesma do passarinho azul :D</p>
  <hr class="my-4">
  <p>crie sua conta e comece a usar!</p>
  <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Cadastre-se</a>
</div>